.container{
    width: 500px;
    height: 350px;
    background-color: rgb(94, 124, 109);
    border-radius:10px;
    
}
.container.heading h1{
text-align:center; 
}

.container button{
    gap:20px;
    width:100%;
    background-color: darkgreen;
}